* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.header {
	padding-top: 50px;
}


 
#login-box {
	width: 1000px;
	padding: 50px;
	margin: 80px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}


#add-box {
position: absolute;
    left: 10px;
	width: 500px;
	padding: 70px;
	margin: 75px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

#search-box {
	width: 1000px;
	padding: 50px;
	margin: 80px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}



.search-box1 {
	position: absolute;
	left: 5px;
	top: 10px;
	bottom: 200px;
	width: 260px;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
}
